{{!-- <style>
#cerbos-header {
  background-color: #ffb901;
  width: 100%;
}
#cerbos-header .navbar-end {
  margin: 0 auto;
}
#cerbos-header .navbar-end .navbar-item {
  margin-left: 10px;
  padding: 5px;
  color: #000;
}
</style>
<div id="cerbos-header">
  <div class="navbar-end">
    <a class="navbar-item" href="https://cerbos.dev">Cerbos Website</a>
    <a class="navbar-item" href="https://docs.cerbos.dev">Docs Website</a>
    <a class="navbar-item" href="http://go.cerbos.io/slack">Slack Community</a>
    <a class="navbar-item" href="https://github.com/cerbos/cerbos">GitHub</a>
  </div>
</div> --}}