<div id="cerbos-header">
  <div class="navbar-end">
    <a class="navbar-item" href="https://cerbos.dev">Cerbos Website</a>
    <a class="navbar-item" href="https://docs.cerbos.dev">Docs Website</a>
    <a class="navbar-item" href="http://go.cerbos.io/slack">Slack Community</a>
    <a class="navbar-item" href="https://github.com/cerbos/cerbos">GitHub</a>
  </div>
</div>